@charset "UTF-8";
/* CSS Document */

#header {
	position: relative;
	left: 0px;
	width: 100%;
}

.slides {
	width:650px;
	float:left;
	background-color:	rgba(255,122,5,1.00);
}
#texte-bandeau {
	float: left;
	height:300px;
	margin-left: 10px;
	padding: 0 10px 0 30px;
	width: 250px;
	color: rgba(180,180,180,1);
}
#texte-bandeau p {
	font-size: small;
}
#texte-bandeau .titre-bandeau {
	color: rgba(255,255,255,1.00);
	font-size: 20px;
	line-height:normal;
}
#texte-bandeau .infos {
	color:rgba(255,122,5,1.00);
	font-size:medium;
}
.slider {
	background-color: rgba(23, 82, 93, 1) !important;
	padding:5px;
	padding-bottom:20px;
	border-style:solid;
	border-width:5px;
	border-color:  rgba(255,122,5,1.00);
	border-left:none;
	border-right:none;
	border-top:none;
}
.carousel {
	width:650px !important;
}
.carousel-indicators {
	position:absolute;
	height:10px;
	bottom:-15px !important;
	right:inherit !important;
	top:inherit !important;
	left:10px;
}
.carousel-control {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:60px !important;
	vertical-align:middle;
	align-content:right;
	opacity:0.2 !important;
}

/* contenu de la page*/
/*tweets */
#tweets {
	width:30%;	
	float:left;
	padding:10px;
    padding-right: 20px;
}
#tweets p .e-entry-title {
	font-family: 'Voces', cursive !important;	
}
/*confs*/
#confs {
	width:30%;
	float:left;
	padding:10px;
    padding-right: 20px;
}
.conferencespreview {
	margin-top:10px;	
}
#confspreviewlist li {
	list-style:none;
}
#confspreviewlist .separateur {
	display:block;
	background-color:rgba(232,232,232,1.00);
	width:100%;
	height:2px;
}
/*actus*/
#actus {
	width:30%;
	float:left;
	padding:10px;
}
.actualitespreview {
	margin-top:10px;
}
#actuspreviewlist li {
	list-style:none;
	margin-bottom:10px;
}
#actuspreviewlist a {
	text-decoration:none;
}

#actuspreviewlist .separateur {
	display:block;
	background-color:rgba(232,232,232,1.00);
	width:100%;
	height:2px;
}
#actuspreviewlist .previewactu {
	width: 60px;
    height: 60px;
    margin-right: 2px;
    float:left;
	background-size:cover;
	background-position:center;	
	border-style:solid;
	border-width:thin;
	border-color:rgba(215,215,215,1.00);
}
