/*
.ressources.li {
    text-decoration: none;
    list-style: none;
    
}
*/
ul.listeRessources {
    text-decoration: none;
    list-style: none;
    color: black;
    margin-left: 60px;
}
span.listeRessources {
   margin-left: 20px;
    
}
/*hack de bootstrap pour affichage en colonnes */
@media (min-width: 1200px) {
    .span5 {
        margin-left: 10px !important;
    }
}
.fa-2x {
    vertical-align: -20%;
}
#offreservice {
    border-style: solid;
    border-width: thin;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    text-decoration : none;
    color :rgba(78,78,78,1.00);
}
.nocolor {
    text-decoration : none;
    color :rgba(78,78,78,1.00);
}
.nocolor:hover {
    text-decoration : none;
    color:rgba(78,78,78,1.00);
}