<div class="container-view">
    <div class="section"></div>
    <div class="titresection"> Actualit&eacute;s de l'Atelier Canop&eacute; 92 - Suresnes</div>
    <div id="liens">
    <a href="http://www.reseau-canope.fr/atelier-hauts-de-seine/newsletters" target="_blank"><button type="button" class="btn btn-warning"><i class="fa fa-newspaper-o fa-4x" aria-hidden="true"></i><span class="legende_btn">Retrouvez les newsletters</span></button></a>
<!--    <a href="feed://www.reseau-canope.fr/atelier-hauts-de-seine/drupal7/rss.xml" target="_blank"><button type="button" class="btn btn-warning"><img src="images/rss.png" class="imgrss" /> flux rss du site</button></a>-->
    <a href="https://twitter.com/canope_92" target="_self"><button type="button" class="btn btn-warning"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i><span class="legende_btn">Suivre @Canope_92</span></button></a>
    </div>
      <div ng-controller="ActualitesListCtrl" class="actualites">
     <div ng-repeat="actualite in actualites | orderBy:sortProp">
            <article class="uk-article" ng-attr-id="{{actualite.nid}}">
                <div class="visuel img-rounded" style=" background-image: url({{actualite.image}}); "></div>
                <h1 class="uk-article-title" ng-bind-html="actualite.title"></h1>
                <p class="uk-article-meta" ng-bind-html="actualite.date"></p>
                <p ng-bind-html="actualite.descriptif"></p>
            </article>
          <br/>
          <div class="separateur"></div>
          <div id="espace"></div>
        </div>
      </div>
</div>
<div class="espace-footer"></div>
