<h3 align="center" style="width:100%;">Accueil du Canop&eacute; des Hauts-de-Seine : 01 40 99 55 77</h3>
<h3 align="center" style="width:100%;">Fax du Canop&eacute; des Hauts-de-Seine : 01 47 28 44 15</h3>
<div id="sepcontacts"/>
<div id="contacts">
<h3 class="font-effect-shadow-multiple">DIRECTION</h3>
<table cellpadding="10" >
<tbody>
<tr>
<td>Alain SEDBON</td>
<td>Directeur</td>
<td>01 40 99 55 75</td>
<td><a href="mailto:Alain.Sedbon@crdp.ac-versailles.fr">contacter</a></td>
</tr>
<tr>
<td>Catherine POSTEL</td>
<td>Secrétariat, gestion des salles</td>
<td>01 40 99 55 77</td>
<td><a href="mailto:catherine.postel@crdp.ac-versailles.fr">contacter</a></td>
</tr>
</tbody>
</table>
<h3 class="font-effect-shadow-multiple">PÔLE RESSOURCES ÉDUCATIVES</h3>
<table cellpadding="10" >
<tbody>
<tr>
<td>Ludivine A'TAGI</td>
<td>Médiatrice documentaire transmédia</td>
<td>01 40 99 55 81</td>
<td><a href="mailto:ludivine.atagi@crdp.ac-versailles.fr">contacter</a></td>
</tr>
<tr>
<td>Xavier AUBRUN</td>
<td>Médiateur numérique</td>
<td>01 40 99 55 64</td>
<td><a href="mailto:xavier.aubrun@crdp.ac-versailles.fr">contacter</a></td>
</tr>
<tr>
<td>Bernadette BOIZARD</td>
<td>Médiatrice numérique</td>
<td>01 40 99 55 74</td>
<td><a href="mailto:Bernadette.Boizard@crdp.ac-versailles.fr">contacter</a></td>
</tr>
<tr>
<td>Philippe DA SILVA</td>
<td>Médiateur numérique</td>
<td>01 40 99 55 74</td>
<td><a href="mailto:philippe.dasilva@ac-versailles.fr">contacter</a></td>
</tr>
<tr>
<td>Matthieu CLAURE</td>
<td>Médiateur numérique</td>
<td>01 40 99 55 68</td>
<td><a href="mailto:matthieu.claure@ac-versailles.fr">contacter</a></td>
</tr>
<tr>
<td>Nicolas HAUSHALTER</td>
<td>Médiateur numérique, Chargé de communication</td>
<td>01 40 99 55 68</td>
<td><a href="mailto:nicolas.haushalter@ac-versailles.fr">contacter</a></td>
</tr>
<tr>
<td>Hélène DESBONNET</td>
<td>Accueil, valorisation des ressources</td>
<td>01 40 99 55 89</td>
<td><a href="mailto:Florence.leroux@crdp.ac-versailles.fr">contacter</a></td>
</tr>
<tr>
<td>Florence LE ROUX</td>
<td>Accueil, valorisation des ressources</td>
<td>01 40 99 55 89</td>
<td><a href="mailto:Florence.leroux@crdp.ac-versailles.fr">contacter</a></td>
</tr>
<tr>
<td>Catherine POLVERELLI</td>
<td>Valorisation de l’offre</td>
<td>01 40 99 55 88</td>
<td><a href="mailto:catherine.polverelli@crdp.ac-versailles.fr">contacter</a></td>
</tr>
</tbody>
</table>
<h3 class="font-effect-shadow-multiple">ACTIONS PÉDAGOGIQUES</h3>
<table cellpadding="10" >
<tbody>
<tr>
<td>Marie-Estelle FABRE</td>
<td>Médiatrice ressources et offre de services</td>
<td>01 40 99 55 69</td>
<td><a href="mailto:Marie-Estelle.Fabre@crdp.ac-versailles.fr">contacter</a></td>
</tr>
<tr>
<td>Edite MARTINS</td>
<td>Accompagnement documentaire</td>
<td>01 40 99 55 89</td>
<td><a href="mailto:edite.martins@crdp.ac-versailles.fr">contacter</a></td>
</tr>
</tbody>
</table>
<h3 class="font-effect-shadow-multiple">VALORISATION DE L'OFFRE DE SERVICES ET DES USAGES</h3>
<table cellpadding="10" >
<tbody>
<tr>
<td>Guy FONTAINE</td>
<td>Publication audiovisuelle</td>
<td>01 40 99 55 63</td>
<td><a href="mailto:Guy.Fontaine@crdp.ac-versailles.fr">contacter</a></td>
</tr>
<tr>
</tr>
</tbody>
</table>

</div>
<div class="espace-footer"></div>
