<h3 align="center" style="width:100%;">Accueil de l'Atelier Canop&eacute; 92 - Suresnes : 01 40 99 55 89</h3>
<h3 align="center" style="width:100%;"><a href="mailto:contact.atelier92@reseau-canope.fr" style="text-decoration: none;
    color: rgba(255,122,5,1.00);">contacter l'Atelier par mail</a> - fax : 01 47 28 44 15</h3>
<div id="sepcontacts"/>
<div id="contacts">
<h3 >DIRECTION</h3>
<table cellpadding="10" >
<tbody>
<tr>
<td>Alain SEDBON</td>
<td>Directeur</td>
<td>01 40 99 55 75</td>
<td><a href="mailto:alain.sedbon@reseau-canope.fr">contacter</a></td>
</tr>
<tr>
<td>Catherine POSTEL</td>
<td>Secrétariat, gestion des salles</td>
<td>01 40 99 55 69</td>
<td><a href="mailto:catherine.postel@reseau-canope.fr">contacter</a></td>
</tr>
</tbody>
</table>
<h3 >PÔLE RESSOURCES ÉDUCATIVES</h3>
<table cellpadding="10" >
<tbody>
<tr>
<td>Ludivine A.TAGI</td>
<td>Médiatrice documentaire transmédia</td>
<td>01 40 99 55 81</td>
<td><a href="mailto:ludivine.a-tagi@reseau-canope.fr">contacter</a></td>
</tr>
<tr>
<td>Xavier AUBRUN</td>
<td>Médiateur numérique</td>
<td>01 40 99 55 64</td>
<td><a href="mailto:xavier.aubrun@reseau-canope.fr">contacter</a></td>
</tr>
<tr>
<td>Blandine BOUREAU</td>
<td>CORAC eTwining</td>
<td>01 40 99 55 77</td>
<td><a href="mailto:blandine.bourreau@reseau-canope.fr">contacter</a></td>
</tr>
<tr>
<td>Julien BOUSSON</td>
<td>Médiateur numérique</td>
<td>01 40 99 55 68</td>
<td><a href="mailto:julien.bousson@reseau-canope.fr">contacter</a></td>
</tr>
<tr>
<td>Matthieu CLAURE</td>
<td>Médiateur numérique</td>
<td>01 40 99 55 68</td>
<td><a href="mailto:matthieu.claure@reseau-canope.fr">contacter</a></td>
</tr>
<tr>
<td>Nicolas HAUSHALTER</td>
<td>Médiateur numérique, Chargé de communication</td>
<td>01 40 99 55 68</td>
<td><a href="mailto:nicolas.haushalter@reseau-canope.fr">contacter</a></td>
</tr>
<tr>
<td>Florence LE ROUX</td>
<td>Accueil, valorisation des ressources</td>
<td>01 40 99 55 89</td>
<td><a href="mailto:florence.le-roux@reseau-canope.fr">contacter</a></td>
</tr>
<tr>
<td>Catherine POLVERELLI</td>
<td>Valorisation de l’offre</td>
<td>01 40 99 55 88</td>
<td><a href="mailto:catherine.polverelli@reseau-canope.fr">contacter</a></td>
</tr>
<tr>
<td>Géraldine FELIX</td>
<td>Accueil, valorisation des ressources</td>
<td>01 40 99 55 89</td>
<td><a href="mailto:geraldine.felix@reseau-canope.fr">contacter</a></td>
</tr>
</tbody>
</table>
<h3>ACTIONS PÉDAGOGIQUES</h3>
<table cellpadding="10" >
<tbody>
<tr>
<td>Marie-Estelle FABRE</td>
<td>Médiatrice ressources et offre de services</td>
<td>01 40 99 55 76</td>
<td><a href="mailto:marie-estelle.fabre@reseau-canope.fr">contacter</a></td>
</tr>
<tr>
<td>Edite MARTINS</td>
<td>Accompagnement documentaire</td>
<td>01 40 99 55 89</td>
<td><a href="mailto:edite.martins@reseau-canope.fr">contacter</a></td>
</tr>
<tr>
<td>Anne Gaudin</td>
<td>Accompagnement documentaire et numérique éducatif</td>
<td>01 40 99 55 77</td>
<td><a href="mailto:anne.gaudin@reseau-canope.fr">contacter</a></td>
</tr>
</tbody>
</table>
</div>
<div class="espace-footer"></div>
