<div class="container-view">
<h3>Site Internet de l'Atelier CANOPÉ 92 - Suresnes</h3>
</br>
<span class="titreMentions">Directeur de la publication : </span></br>Alain Sedbon, Directeur de l'Atelier Canop&eacute; 92 - Suresnes</br>
<span class="titreMentions">Responsable d'édition : </span></br>Alain Sedbon, Directeur de l'Atelier Canop&eacute; 92 - Suresnes</br>
</br>
<span class="titreMentions">Prestataire assurant le stockage direct et permanent : </span></br>Rectorat de l'académie de Versailles</br>
</br>
<span class="titreMentions">Webmestre : </span></br>Xavier Aubrun </br>
</br>
<span class="titreMentions"><b>Droits d'auteurs</b></span></br>
Ce site relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle.</br>
</br>
Tous les droits de reproduction sont réservés.</br>
</br>
<span class="titreMentions"><b>Liens hypertextes</b></span></br>
Ce site contient des liens hypertextes permettant l'accès à des sites qui ne sont pas édités par le responsable de ce site.</br>
</br>
En conséquence le directeur de publication ne saurait être tenue pour responsable du contenu des sites auxquels l'internaute aurait ainsi accès.</br>
</br>
Il est formellement interdit de collecter et d'utiliser les informations disponibles sur le site à des fins commerciales.</br>
</br>
Cette interdiction s'étend notamment, sans que cette liste ne soit limitative, à tout élément rédactionnel figurant sur le site, à la présentation des écrans, aux logiciels nécessaires à l'exploitation, aux logos, images, photos, graphiques, de quelque nature qu'ils soient.</br>
</br>
<span class="titreMentions"><b>Liens hypertextes vers ce site</b></span></br>
A l'exception de sites diffusant des informations et/ou contenus ayant un caractère illégal et/ou à caractère politique, religieux, pornographique, xénophobe, vous pouvez créer un lien hypertexte vers notre Site sur votre site.</br>
</br>
La mise en place de lien hypertexte n'autorise en aucune façon la reproduction d'éléments du site ou la présentation sur des sites tiers d'éléments du Site sous forme de Frame ou système apparenté.</br>
</br>
Enfin, la mise en place de lien hypertexte n'autorise en aucune façon de proposer l'envoi d'un message pré-rédigé à une adresse mail liée au Site ou la mise en place d'un système permettant l'envoi massif de messages quelle qu'en soit la nature.</br>
</br>
Tous les droits de reproduction sont réservés.</br>
</br>
<span class="titreMentions">A propos de ce site :</span></br>
Drupal7 <img src="images/drupal7_100px.jpg"> + AngularJS <img src="images/angularjs_100px.jpg"></br>
</br>
</div>
<div class="espace-footer"></div>
