<div class="container-view">
<div class="ressources">
<h3></h3>
<section id="focus">
    <a href="https://0921824h.esidoc.fr/rubrique/view/id/24" target="_blank">
        <img src="images/bandeau_ressources.jpg" />
        <h4><i class="fa fa-arrow-circle-right fa-2x"></i><span class="listeRessources">Focus sur les ressources de Réseau Canopé</span></h4>
    </a>
</section>
<hr>
<div class="row">
<div class="span5">
<section id="Retrouver">
    <h3><i class="fa fa-map-signs fa-lg"></i><span class="listeRessources">Retrouver</span></h3>
<ul class="fa-ul listeRessources">
    <li><a href="https://0921824h.esidoc.fr/rubrique/view/id/10" target="_blank"><i class="fa-li fa fa-external-link-square fa-lg"></i>Nos présentations</a><br/><span>les keynotes que nous utilisons lors de nos présentations aux collectivités, aux cadres de l'éducation nationale et aux groupes d'enseignants accueillis dans nos locaux.</span></li>
    <li><a href="https://0921824h.esidoc.fr/rubrique/view/id/44" target="_blank"><i class="fa-li fa fa-external-link-square fa-lg"></i>Nos Formations</a><br/><span>retrouvez les documents du formateur d'une animation ou d'une formation dans nos locaux.</span></li>
</ul>
</section>
    <a  href="https://0921824h.esidoc.fr/rubrique/view/id/23" class="nocolor">
    <section id="offreservice">
    <h3><i class="fa fa-stack-overflow fa-lg" style="margin-right:40px;"></i><span>  Accéder à notre bibliothèque numérique</span></h3>
    </section>
    </a>
</div>
<div class="span5">
<section id="Consulter">
 <h3><i class="fa fa-newspaper-o fa-lg"></i><span class="listeRessources">Consulter</span></h3>
<ul class="fa-ul listeRessources">
    <li><a href="https://0921824h.esidoc.fr/rubrique/view/id/16" target="_blank"><i class="fa-li fa fa-external-link-square fa-lg"></i>Nos padlets</a><br/><span>nos padlets sont régulièrement actualisés, et de nouveaux padlets sont publiés en fonction de notre actualité.</span></li>
    <li><a href="https://0921824h.esidoc.fr/rubrique/view/id/72" target="_blank"><i class="fa-li fa fa-external-link-square fa-lg"></i>Nos bibliographies</a><br/><span>une sélection documentaire thématique en lien avec les programmes, les orientations du système éducatif et les nouveautés pédagogiques.</span></li>
    <li><a href="https://0921824h.esidoc.fr/rubrique/view/id/15" target="_blank"><i class="fa-li fa fa-external-link-square fa-lg"></i>Nos expositions</a><br/><span>toutes nos expositions sont empruntables grâce à une adhésion collective. Le prêt est de 4 semaines.</span></li>
    <li><a href="https://0921824h.esidoc.fr/rubrique/view/id/68" target="_blank"><i class="fa-li fa fa-external-link-square fa-lg"></i>Nos jeux</a><br/><span>tous nos jeux sont empruntables grâce à une adhésion collective. Le prêt est de 4 semaines.</span></li>
</ul>   
</section>
</div>
</div>
</div>
</div>
<div class="espace-footer"></div>