<div class="adresse">
    <h1>Atelier Canop&eacute; 92 - Suresnes</h1>
    <p>Maison de l'automobile, 50 rue Rouget de Lisle, 92150 Suresnes</p>
</div>

<div>
    <img id="googlemap" src="http://maps.googleapis.com/maps/api/staticmap?center=48.87818,2.2320684&zoom=15&markers=color:red%7C48.87818,2.2320684&size=600x400&maptype=roadmap&sensor=true" width="600" height="400">
    <div id="horaires">Les horaires d'ouverture de l'Atelier
        <p>
        <br/>
        Lundi de 14h à 18h<br/>
        Mardi de 9h à 18h<br/>
        Mercredi de 9h à 18h<br/>
        Jeudi de 9h à 18h<br/>
        Vendredi de 9h à 18h<br/>
        </p>
	</div>   
    <div id="vcard">
    	<span>Ajouter l'Atelier Canop&eacute; 92 - Suresnes à vos contacts :</span>
    	<a href="contacts/canope92.vcf"><img src="images/vcard.png" class="imgvcard" /></a>
        <div>(format vcard)</div>
    </div>
    <div id="lienmap">
    	<button type="button" class="btn btn-warning"><a href="https://www.google.fr/maps?f=q&hl=fr&q=50+rue+rouget+de+lisle+92150" target="_blank"><span>voir le plan sur google maps</span></a></button>
    </div>
</div>
<div id="transports">
	<h3>M&eacute;tro / RER</h3>
    <ul>
        <li>Ligne 1 (La Défense- Château de Vincennes) et RER A :  arrêt Grande Arche de La Défense, puis 30 minutes à pied ou prendre le train, le tramway T2 ou Bus 141 ou 144 ;</li>
        <li>Ligne 1 (La Défense- Château de Vincennes) : arrêt Pont de Neuilly , puis Bus 157, 158 ou 175 ;</li>
   </ul>
	<h3>Tramway</h3>
	<p>Le T2 (Pont de Bezons - Porte de Versailles), arrêt Belvédère ou Puteaux (10 minutes à pied)</p>
	<h3>Bus</h3>
	<p>Stations d’autobus proches (5 minutes à pied) :
    <ul>
        <li>Le 93 arrêt De Pressensé (ligne 93 Suresnes-De Gaulle - Invalides) ;</li>
        <li>Le 144 arrêt De Pressensé (ligne 144 Rueil-Malmaison RER - La Défense) ;</li>
        <li>Le 175 arrêt Pompidou (ligne 175 Porte de Saint-Cloud - Gabriel Péri-Asnières-Gennevilliers) ;</li>
        <li>Le 141 arrêt Gare de Puteaux (ligne 141 La Défense - Lycée de Rueil-Malmaison) ;</li>
        <li>Le 158 arrêt Gare de Puteaux (ligne 158 Rueil-Malmaison RER - Pont de Neuilly) ;</li>
        <li>Le 541 arrêt Bas-Rogers (ligne 541 Le Buséolien Circuit 2 (Puteaux - Cimetière Nouveau - Puteaux - Bellini) ;</li>
        <li>Le 544 arrêt Rouget de Lisle (ligne 544 AS (Circuits Quartier Liberté - République - Marché Édouard Vaillant) ;</li>
    </ul>
 	</p>
     <h3>Train SNCF</h3>
        <p>Ligne L (Gare Saint-Lazare - Gare de Saint-Cloud) : arrêt Gare de Puteaux</p>
</div>
<hr>
<div class="espace-footer"></div>
